.header-container {
  display: flex;
  flex-direction: column;
  background-color: rgba(248, 203, 0, 1);
  height: 12rem;
  padding: 3rem 8% 0 8%;
}

.header-top-container {
  display: flex;
  justify-content: space-between;
  padding-top: 1rem;
}

.header-bottom-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 3rem 0 0 15rem;
}

.mobile-menu,
#showFilters {
  display: none;
}

@media (max-width: 1024px) {
  .header-top-container,
  .header-bottom-container {
    display: none;
  }

  .header-container {
    padding: 0;
    margin: 0;
    height: 5rem;
    width: 100%;
  }

  .mobile-menu {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
  }

  .hamburger {
    display: inline-flex;
    outline: none;
  }

  .hamburger-inner,
  .hamburger-inner::before,
  .hamburger-inner::after {
    background-color: #fff !important;
  }

  #categ-name {
    color: #fff;
    font-size: 2rem;
    padding-left: 1rem;
  }

  .mobile-search {
    padding: 15px;
  }
  #search-icon {
    max-height: 3rem;
  }

  .categories {
    display: none;
  }
}
